/* Header Styles */
.jumbotron {
    background: var(--primaryColor);
    background-image: url(https://i58.photobucket.com/albums/g272/8LivesOn/background1_zpstt1n12nd.jpg); 
    background-size: cover;
    background-position: center;
    height: 450px;
}

.head1 {
    color: var(--secondaryColor);
}

.head2 {
    color: #fff;
}
/* Main Content Styles */



.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    height: 100%;
    border: none;

}

.card-img-top {
    height: 192px;
    width: 288px;
}


