/* Header Styles */
.jumbotron {
    background: var(--primaryColor);
    background-image: url(../images/background1.jpg); 
    background-size: cover;
    background-position: center;
    height: 450px;
}

.head1 {
    color: var(--secondaryColor);
}

.head2 {
    color: #fff;
}
/* Main Content Styles */

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    height: 100%;
    border: none;
    
    

}



