/*  */
#scholarship {
	color: var(--primaryColor);
}



.combo {
	display: inline;
	margin: 20px;
	}
	
.comboContainer {
	text-align: center;
}

#addressOne, #addressTwo {
	width:100%;
}

input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
		}

		input[type=number] {
		-moz-appearance:textfield; /* Firefox */
		}